body {
    background-color: darkteal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .card {
    text-align: center;
  }
  
  h2 {
    font-size: 25px;
    font-weight: bold;
  }